<a href="https://colab.research.google.com/github/jedrexd/WTUM_11_2022/blob/main/Projekt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [ ]:
df = pd.read_csv("/content/WTUM_11_2022/train.csv", header=0)
df = df.iloc[:,1:]
df

In [ ]:
df.describe()

In [ ]:
df.columns

In [6]:
df['MSSubClass'] = LabelEncoder().fit_transform(df['MSSubClass'].astype('str'))
df['MSZoning'] = LabelEncoder().fit_transform(df['MSZoning'].astype('str'))
df.replace('LotFrontage', {"NA": 0})
df['LotFrontage'] = StandardScaler().fit_transform(np.array(df['LotFrontage']).reshape(-1, 1));
df['LotArea'] = StandardScaler().fit_transform(df['LotArea'].values.reshape(-1, 1))
df['Street'] = LabelEncoder().fit_transform(df['Street'].astype('str'))
df['Alley'] = LabelEncoder().fit_transform(df['Alley'].astype('str'))
lotShapeDict = {"Reg": 1, "IR1": 2, "IR2": 3, "IR3": 4}
df.replace('LotShape', lotShapeDict)
df['LandContour'] = LabelEncoder().fit_transform(df['LandContour'].astype('str'))
df['LotConfig'] = LabelEncoder().fit_transform(df['LotConfig'].astype('str'))
df['LandSlope'] = LabelEncoder().fit_transform(df['LandContour'].astype('str'))
df['Neighborhood'] = LabelEncoder().fit_transform(df['Neighborhood'].astype('str'))
conditionDict = {"Artery": 1, "Feedr": 2, "Norm": 3,	"RRNn": 4, "RRAn": 5, "PosN": 6, "PosA": 7, "RRNe": 8, "RRAe": 9}
df.replace('Condition1', conditionDict)
df.replace('Condition2', conditionDict)
utilitiesDict = {"AllPub": 3, "NoSewr": 2, "NoSeWa": 1, "ELO": 0}
df.replace('Utilities', utilitiesDict);
df['BldgType'] = LabelEncoder().fit_transform(df['BldgType'].astype('str'))
df['HouseStyle'] = LabelEncoder().fit_transform(df['HouseStyle'].astype('str'))

# YearBuilt, YearRemodAdd, OverallCond, OverallQual: TBD

In [ ]:
print(df['GarageCars'].isna().sum())

In [7]:
print(df['GarageArea'].isna().sum())
df['GarageArea'] = StandardScaler().fit_transform(df['GarageArea'].values.reshape(-1,1))

0

In [8]:
print(df['GarageQual'].isna().sum())
unq_vals = df['GarageQual'].unique().astype('str')
df['GarageQual'] = df['GarageQual'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, np.nan: 0})

81

In [9]:
print(df['GarageCond'].isna().sum())
print(df['GarageCond'].unique())
df['GarageCond'] = df['GarageCond'].replace({'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, 'Po': 1, np.nan: 0})

81
['TA' 'Fa' nan 'Gd' 'Po' 'Ex']

In [10]:
print(df['PavedDrive'].isna().sum())
df['PavedDrive'] = LabelEncoder().fit_transform(df['PavedDrive'])

0

In [11]:
print(df['WoodDeckSF'].isna().sum())
df['WoodDeckSF'] = StandardScaler().fit_transform(df['WoodDeckSF'].values.reshape(-1,1))

0

In [12]:
print(df['OpenPorchSF'].isna().sum())
df['OpenPorchSF'] = StandardScaler().fit_transform(df['OpenPorchSF'].values.reshape(-1,1))

0

In [13]:
print(df['EnclosedPorch'].isna().sum())
df['EnclosedPorch'] = StandardScaler().fit_transform(df['EnclosedPorch'].values.reshape(-1,1))

0

In [14]:
print(df['3SsnPorch'].isna().sum())
df['3SsnPorch'] = StandardScaler().fit_transform(df['3SsnPorch'].values.reshape(-1,1))

0

In [15]:
print(df['ScreenPorch'].isna().sum())
df['ScreenPorch'] = StandardScaler().fit_transform(df['ScreenPorch'].values.reshape(-1,1))

0

In [16]:
print(df['PoolArea'].isna().sum())
df['PoolArea'] = StandardScaler().fit_transform(df['PoolArea'].values.reshape(-1,1))

0

In [17]:
print(df['PoolQC'].isna().sum())
print(df['PoolQC'].unique())
df['PoolQC'] = df['PoolQC'].replace({'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, np.nan: 0})

1453
[nan 'Ex' 'Fa' 'Gd']

In [18]:
print(df['Fence'].isna().sum())
print(df['Fence'].unique())
df['Fence'] = df['Fence'].replace({'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1, np.nan: 0})

1179
[nan 'MnPrv' 'GdWo' 'GdPrv' 'MnWw']

In [19]:
print(df['MiscFeature'].isna().sum())
print(df['Fence'].unique())
df['Fence'] = df['Fence'].replace({'Elev': 5, 'Gar2': 4, 'Othr': 3, 'Shed': 2, 'TenC': 1, np.nan: 0})

1406
[0 3 2 4 1]

In [20]:
print(df['MiscVal'].isna().sum())
df['MiscVal'] = StandardScaler().fit_transform(df['MiscVal'].values.reshape(-1,1))

0

In [ ]:
print(df['MoSold'].isna().sum())

In [ ]:
print(df['YrSold'].isna().sum())

In [21]:
print(df['SaleType'].isna().sum())
df['SaleType'] = LabelEncoder().fit_transform(df['SaleType'])

0

In [22]:
print(df['SaleCondition'].isna().sum())
df['SaleCondition'] = LabelEncoder().fit_transform(df['SaleCondition'])

0

In [23]:
print(df['SalePrice'].isna().sum())
df['MiscVal'] = np.log(df['MiscVal'])

0

/usr/local/lib/python3.7/dist-packages/pandas/core/arraylike.py:364: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [33]:
# kolumny 41-60
df2 = df.iloc[:,40:59]

df2['CentralAir'] = LabelEncoder().fit_transform(df['CentralAir'].astype('str'))

df2['Electrical'] = LabelEncoder().fit_transform(df['Electrical'].astype('str'))

c3 = df["1stFlrSF"].values 
df2["1stFlrSF"] = StandardScaler().fit_transform(c3.reshape(-1,1)) 

c4 = df["2ndFlrSF"].values     
df2["2ndFlrSF"] = StandardScaler().fit_transform(c4.reshape(-1,1)) 

c5 = df["LowQualFinSF"].values      
df2["LowQualFinSF"] = StandardScaler().fit_transform(c5.reshape(-1,1)) 

c6 = df["GrLivArea"].values   
df2["GrLivArea"] = StandardScaler().fit_transform(c6.reshape(-1,1)) 

# BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, TotRmsAbvGrd, Fireplaces - z tymi nic nie robiłam, bo mają tylko po kilka wartości

c11 = df["KitchenQual"]
new_names = {
    'Po' : 0,
    'Fa' : 1,
    'TA' : 2,
    'Gd' : 3,
    'Ex' : 4
}
df2["KitchenQual"] = c11.replace(new_names)

c13 = df["Functional"]
new_names1 = {
    'Sal' : 0,
    'Sev' : 1,
    'Maj2' : 2,
    'Maj1' : 3,
    'Mod' : 4,
    'Min2' : 5,
    'Min1' : 6,
    'Typ' : 7
}
df2["Functional"] = c13.replace(new_names1)

c15 = df["FireplaceQu"]
c15 = c15.fillna(0)
new_names2 = {
    'NA' : 0,
    'NaN' : 0,
    'Po' : 1,
    'Fa' : 2,
    'TA' : 3,
    'Gd' : 4,
    'Ex' : 5
}
df2["FireplaceQu"] = c15.replace(new_names2)

c16 = df["GarageType"]
new_names3 = {
    'NA' : 0,
    'NaN' : 0,
    '' : 0,
    'Detchd' : 1,
    'CarPort' : 2,
    'BuiltIn' : 3,
    'Basment' : 4,
    'Attchd' : 5,
    '2Types' : 6
}
df2["GarageType"] = c16.replace(new_names3)

#GarageYrBlt - lata (1900 - 2010), tez nic nie zrobiłam

c18 = df["GarageFinish"]
new_names4 = {
    'NA' : 0,
    'Unf' : 1,
    'RFn' : 2,
    'Fin' : 3
}
df2["GarageFinish"] = c18.replace(new_names4)

In [38]:
df.iloc[:, 40:59] = df2

df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,9,3,-0.208034,-0.207142,1,2,Reg,3,AllPub,4,...,-0.068692,0,0,NaN,NaN,2,2008,8,4,208500
1,4,3,0.409895,-0.091886,1,2,Reg,3,AllPub,2,...,-0.068692,0,0,NaN,NaN,5,2007,8,4,181500
2,9,3,-0.084449,0.073480,1,2,IR1,3,AllPub,4,...,-0.068692,0,0,NaN,NaN,9,2008,8,4,223500
3,10,3,-0.414011,-0.096897,1,2,IR1,3,AllPub,0,...,-0.068692,0,0,NaN,NaN,2,2006,8,0,140000
4,9,3,0.574676,0.375148,1,2,IR1,3,AllPub,2,...,-0.068692,0,0,NaN,NaN,12,2008,8,4,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,9,3,-0.331620,-0.260560,1,2,Reg,3,AllPub,4,...,-0.068692,0,0,NaN,NaN,8,2007,8,4,175000
1456,4,3,0.615871,0.266407,1,2,Reg,3,AllPub,4,...,-0.068692,0,3,NaN,NaN,2,2010,8,4,210000
1457,10,3,-0.166839,-0.147810,1,2,Reg,3,AllPub,4,...,-0.068692,0,4,Shed,1.600016,5,2010,8,4,266500
1458,4,3,-0.084449,-0.080160,1,2,Reg,3,AllPub,4,...,-0.068692,0,0,NaN,NaN,4,2010,8,4,142125
1459,4,3,0.203918,-0.058112,1,2,Reg,3,AllPub,4,...,-0.068692,0,0,NaN,NaN,6,2008,8,4,147500